body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 2;
    background-color: #f4f4f4e7;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 10px 20px;
    height: 50px;
    color: #ffffffbe;
}

.nav-izquierda {
    display: flex;
    align-items: center;
}

.nav-titulo {
    font-size: 1.5rem;
    margin: 0;
    color: #ffffffbe;
}

.nav-derecha a {
    color: #ffffffbe;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-derecha a:hover {
    background: #0a3136;
    transition: 0.5s;
    border-radius: 20%;
}

#logo {
    background:url("/Archivos/Fotos/PrincipalFoto.webp");
    background-repeat: no-repeat;
    background-size: 200pc;
    background-position: center;
    height: 425px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141212;
    text-align: center;
}

#logo h1 {
    font-size: 2.5rem;
    margin: 0;
}

#nosotros {
    padding: 20px;
    max-width: 1100px;
    margin: auto;
}

#video {
    height: 100%;
    width: 100%;
}

.seccion {
    margin-bottom: 20px;
}

.boton {
    display: inline-block;
    background: #6041cf;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#boton:hover {
    background: #4d3585;
    transition: 0.3s;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}